 body {
  background-color: #afe0de; padding: 5px;
}
 body{
    .div1{

        height: 585px; width: 1000px;
        margin-top: 10px; margin-bottom: 10px;
        margin-left: 175px; margin-right: 150px;
        background-color: azure ; padding: 10px ;
    }
    .main_heading{
       
        font-family: Arial, sans-serif;
        color: rgb(32, 214, 190);  /*Searched on web*/
    }
    .subscript{
        font-family: Arial, sans-serif;
        color: rgb(32, 214, 190);
    }
}

body{
    .heading{
        height: 100px; width: 975px;
       background-color:rgb(143, 231, 224) ; padding: 10px ; 
    }
}

body{
    .right_aligned_div{
     float: right;
     margin-top: 20px; margin-left: none;
     border: 6px solid lightskyblue;
     background-color: rgb(158, 240, 246) ; padding: 5px;
     height: fit-content; width: 550px;
    }
    .spatula{
        float:right;
        min-height: auto; width: auto;
    }
    .heading_two{
       font-family: Arial, sans-serif;
       color: rgb(32, 214, 190);
    }
    .date{
        border-bottom: dashed rgb(87, 87, 233);
    }
    .body{
      font-family: Arial, sans-serif;
      color: rgb(227, 25, 25);
      font-size: medium;   
    }


}

body{
    .right_align_div{
      float: right;
     margin-top: 20px; margin-left: none;
     border: 6px solid lightskyblue;
     background-color: rgb(158, 240, 246) ; padding: 5px;
     height: fit-content; width: 550px;  
    }
    .cookie_cupcakes{
        float:right;
        min-height: auto; width: auto;
    }
    .heading_two{
       font-family: Arial, sans-serif;
       color: rgb(32, 214, 190);
    }
    .date{
        border-bottom: dashed rgb(87, 87, 233);
    }
    .body{
      font-family: Arial, sans-serif;
      color: rgb(227, 25, 25);
      font-size: medium;   
    }

}

body{
    .left_align_div{
     float: left;
     margin-top: 20px; margin-right: none;
     border: 4px solid rgb(43, 139, 198);
     background-color:rgb(143, 231, 224) ; padding: 5px;
     height: fit-content; width: fit-content; 
    }
}

body{
    .heading_three{
       font-family: Arial, sans-serif; 
       color: rgb(32, 214, 190);
    }
    .bullet_one{
        font-family: Arial, sans-serif;
        color:rgb(227, 25, 25);
    }
    .bullet_two{
        font-family: Arial, sans-serif;
        color:aliceblue
    }
    .bullet_three{
        font-family: Arial, sans-serif;
        color:rgb(227, 25, 25);
    }
}